{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-sm-12">
        <h4>Project page</h4>
        <p>
        Documentation and source code can be found at <a href="https://github.com/mrgnr/camus">https://github.com/mrgnr/camus</a>.
        </p>

        <br/>
        <h4>Support the project :)</h4>
        <p>
        You can support the project by <a href="https://github.com/mrgnr/camus/issues">reporting bugs</a>
        or making a <a href="https://liberapay.com/mrgnr">donation</a> to the author. Thanks!
        </p>
    </div>
</div>
{% endblock %}
