{% extends 'bootstrap-base.html' %}

{% block title %}
  {% if title %}{{ title }}{% else %}Camus Video Chat{% endif %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
  <div class="container content">
    {% block header %}
      <header>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block header_content %}
        {% endblock %}
      </header>
    {% endblock %}

    {% block app_content %}{% endblock %}

    <footer>
      <div class="footer-left">
        <p><a href="/">Camus</a> | </p>
        <p>&#169; 2021 by Morgan Robertson</p>
      </div>
      <div class="footer-right">
        <p><a href="https://github.com/camuschat/camus">Source code</a> | </p>
        <p><a href="https://docs.camus.chat">Documentation</a> | </p>
        <p><a href="https://github.com/camuschat/camus/blob/master/LICENSE">License</a> | </p>
        <p><a href="https://github.com/camuschat/camus/issues">Report an issue</a> | </p>
        <p><a href="https://liberapay.com/mrgnr">Donate</a></p>
      </div>
    </footer>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/icons.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
