/* --- General element styles --- */

html {
    min-height: 100%;  /* Allow background to fill entire screen */
}

ul {
  list-style-type: none;
  padding: 0px;
}


/* --- Bootstrap overrides --- */

.form-control:focus {
    box-shadow: none;
    border-color: darkgray;
}


/* --- Camus specific --- */

.content {
    margin-top: 20px;
}

.boldlink {
    color: darkslategray;
}

.boldlink:hover,
.boldlink:focus {
    color: darkslategray;
    text-shadow: 0.1px 0.1px 0px gray,
                 -0.1px -0.1px 0px gray,
                 0.1px -0.1px 0px gray,
                 -0.1px 0.1px 0px gray;
    text-decoration: none;
}

.about a {
    color: #004B6B;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

.about a:hover {
    color: #6B6000;
    text-decoration: none;
    border-bottom: 1px solid #999;
}

.about i {
    /* Consistent sizing for material icons */
    font-size: 1em;
}


/* --- React --- */

main {

    padding: 0;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

.react-root {
    display: flex;
    position: relative;
    height: 100%;
}

.video-stage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 0;
    /*border: 1px dotted lightgray;*/
    border-radius: 0.5em;
    height: 80vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    overflow-y: auto;
}

.video-feed {
    box-sizing: border-box;
    position: relative;
    box-shadow: inset 0 0 4em 2em #000000;
    border-radius: 0.5em;
}

.video-feed video {
    /* Fill the video-feed */
    height: 100%;
    width: 100%;
    display: flex;

    background-color: #000;
    border-radius: 0.5em;
}

.video-feed:hover video {
    opacity: 0.7;
    transition: opacity 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
}

.video-feed .video-tag {
    display: none;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 9;
    max-width: 80%;
    text-overflow: ellipsis;
    font-size: 1.5em;
}

.video-feed:hover .video-tag {
    display: inline;
    color: #fff;
    text-shadow: 1px 1px 4px #000,
                 -1px -1px 4px #000,
                 1px -1px 4px #000,
                 -1px 1px 4px #000;
    text-overflow: ellipsis;
}

.media-control-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid lightgray;*/
    display: flex;
    justify-content: center;
}

.media-control-bar button,
.chat-message-bar button {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 6px 12px;
}

.media-control-bar button:hover,
.media-control-bar button:focus,
.chat-message-bar button:hover,
.chat-message-bar button:focus {
    background-color: #eee;
    outline: none;
    box-shadow: none;
}

.media-control-bar button:active,
.chat-message-bar button:active {
    background-color: #ddd;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80vh;

    border: 1px dotted lightgray;
    border-radius: 0.5em;

    background-color: #fff;
}

.sidebar.collapsed {
    width: auto;
}

.sidebar .icon-button {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 6px 12px;
}

.sidebar .icon-button:hover,
.sidebar .icon-button:focus {
    background-color: #eee;
    outline: none;
    box-shadow: none;
}

.sidebar .icon-button:active {
    background-color: #ddd;
}

.chat-message-bar {
    flex: 1;

    /* Allow .chat-message-log to take up as much space as necessary, with
     * the message form positioned at the bottom of the container */
    display: flex;
    flex-direction: column;
}

.chat-message-bar form {
    width: 100%;
    display: flex;
    padding: 20px;
}

.chat-message-bar form input {
    flex: 1;
}

.chat-message-log {
    padding: 20px;
    margin: 0;

    /* flex-basis must be set for overflow to work */
    flex: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.chat-message-time {
    display: inline-block;
    font-size: small;
    font-style: italic;
    margin-bottom: 0px;
    margin-left: 10px;
    float: right;
}

.chat-message-from {
    display: inline-block;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    margin-bottom: 0px;
}

.chat-message-text {
    margin-top: 0px;
}

.connection-info-bar {
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.connection-info-node {
    padding: 10px 20px;
}

.connection-info-node li {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    margin-bottom: 0px;
}

.connection-info-node span {
    font-variant-caps: normal;
    font-weight: normal;
    font-size: small;
    font-style: italic;
}
