/* --- General element styles --- */

/* Fallback scrollbar styling for webkit */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px lightgray;
    border-radius: 10px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    min-height: 100%;  /* Allow background to fill entire screen */
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

button:hover,
button:focus {
    box-shadow: 0 0 0 0.2rem rgba(97,0,255,0.5);
}

ul {
    list-style-type: none;
    padding: 0px;
}

select {
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}

select:focus {
    border-color: darkgray;
    outline: none;
}

input {
    border: 1px solid lightgray;
    border-radius: 4px;
}

input:focus {
    border-color: darkgray;
    outline: none;
}

label {
}

summary:focus {
    outline: none;
    font-weight: bold;
}

/* --- Bootstrap overrides --- */

.form-control:focus {
    box-shadow: none;
    border-color: darkgray;
}


/* --- Camus specific --- */

.content {
    margin-top: 20px;
}

.boldlink {
    color: darkslategray;
}

.boldlink:hover,
.boldlink:focus {
    color: darkslategray;
    text-shadow: 0.1px 0.1px 0px gray,
                 -0.1px -0.1px 0px gray,
                 0.1px -0.1px 0px gray,
                 -0.1px 0.1px 0px gray;
    text-decoration: none;
}

.about a {
    color: #004B6B;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

.about a:hover {
    color: #6B6000;
    text-decoration: none;
    border-bottom: 1px solid #999;
}

.about i {
    /* Consistent sizing for material icons */
    font-size: 1em;
}


/* --- React --- */

.react-root {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(153,153,153,1) 0%, rgba(105,105,105,1) 50%, rgba(80,80,80,1) 100%);
}

main {
    display: flex;
    flex-direction: column;

    padding: 0;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.enter-room-modal {
    /* Center modal on its own layer above everything else */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    display: flex;
    flex-wrap: wrap;

    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: clamp(50%, 600px, 100%);
    padding: 20px;

    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.enter-room-modal form {
    flex: 1 200px;

    display: flex;
    flex-direction: column;
    margin: 10px;
}

.enter-room-modal form input,
.enter-room-modal form select {
    display: block;
    width: 100%;
}

.enter-room-modal .video-container {
    flex: 1 200px;
    margin: 10px;
}

.enter-room-modal .video-container video {
    height: 100%;
    width: 100%;
    display: flex;

    background-color: #000;
    border-radius: 0.5em;
}

.modal-overlay {
    position: fixed;
    z-index: 9998;

    height: 100%;
    width: 100%;

    background-color: #000;
    opacity: 0.5;
}

.video-stage {
    flex: 1 1 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 0;
    width: 100%;
    margin: 0;

    overflow-y: auto;
}

.video-feed {
    padding: 3px 4px;
    position: relative;
    /*box-shadow: inset 0 0 4em 2em #000000;*/
    border-radius: 0.5em;
}

.video-feed video {
    /* Fill the video-feed */
    height: 100%;
    width: 100%;
    display: flex;

    background-color: #000;
    border-radius: 0.5em;
}

.video-feed:hover video {
    opacity: 0.7;
    transition: opacity 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    box-shadow: 0 0 0 0.2rem rgba(97,0,255,0.5);
    cursor: grab;
}

.video-feed .video-tag {
    display: none;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 9;
    max-width: 80%;
    text-overflow: ellipsis;
    font-size: 1.5em;
}

.video-feed:hover .video-tag {
    display: inline;
    color: #fff;
    text-shadow: 1px 1px 4px #000,
                 -1px -1px 4px #000,
                 1px -1px 4px #000,
                 -1px 1px 4px #000;
    text-overflow: ellipsis;
}

.video-feed:hover .video-control-bar {
    display: inline;
}

.video-control-bar {
    display: none;
    position: absolute;
    bottom: 3px;
    right: 3px;
    left: 3px;
    padding: 10px;
    padding-top: 16px;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    border-radius: 0.5em;
    text-align: right;
}

.video-control-bar button {
    background: none;
    color: #ccc;
    box-shadow: none;
    border: none;
}

.video-control-bar button:hover,
.video-control-bar button:focus {
    color: #fff;
    outline: none;
    border: none;
}

.toggle-visibility,
.toggle-audio,
.volume-slider {
    float: left;
}

/* See https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
    -webkit-appearance: none;
    max-width: 100px;
    background: transparent;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    border: none;
    background: #ccc;
    cursor: pointer;
    margin-top: -4px;
}

input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:focus::-webkit-slider-thumb {
    background: #fff;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #ccc;
    border: none;
    outline: none;
    margin-bottom: -24px;  /* magic number controlling vertical alignment */
}

input[type=range]:hover::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

input[type=range]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    border: none;
    background: #ccc;
    cursor: pointer;
}

input[type=range]:hover::-moz-range-thumb,
input[type=range]:focus::-moz-range-thumb {
    background: #fff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #ccc;
    border: none;
    outline: none;
}

input[type=range]:hover::-moz-range-track,
input[type=range]:focus::-moz-range-track {
    background: #fff;
}

.video-settings {
    position: absolute;
    bottom: calc(100%);
    right: 10px;
    background: #333;
    opacity: 0.9;
    color: #ccc;
}

.video-settings p {
    text-align: center;
    padding: 4px;
    margin: 0px;
    border-bottom: 1px solid #555;
}

.video-settings button {
    width: 100%;
    padding: 4px;
}

.video-settings button:hover {
    color: #fff;
    background: #555;
}

.video-settings span.selected {
    color: #fff;
    font-weight: bold;
}

.media-control-bar {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    opacity: 0.5;
}

.media-control-bar button,
.chat-message-bar button {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 6px 12px;
    margin: 0 4px;
}

.media-control-bar button:hover,
.media-control-bar button:focus,
.chat-message-bar button:hover,
.chat-message-bar button:focus {
    background-color: #eee;
    outline: none;
}

.media-control-bar button:active,
.chat-message-bar button:active {
    background-color: #ddd;
}

.sidebar {
    flex: 0 0 clamp(20%, 400px, 100%);
    height: 100vh;

    display: flex;
    flex-direction: column;

    border: 1px dotted lightgray;
    border-radius: 0.5em;

    background-color: #fff;
    opacity: 0.5;
}

.sidebar.collapsed {
    flex: 0 0 auto;
}

.sidebar .icon-button {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 6px 12px;
    margin: 2px;
}

.sidebar .icon-button:hover,
.sidebar .icon-button:focus {
    background-color: #eee;
    outline: none;
}

.sidebar .icon-button:active {
    background-color: #ddd;
}

.chat-message-bar {
    flex: 1;

    /* Allow .chat-message-log to take up as much space as necessary, with
     * the message form positioned at the bottom of the container */
    display: flex;
    flex-direction: column;
}

.chat-message-bar form {
    width: 100%;
    display: flex;
    padding: 20px;
}

.chat-message-bar form input {
    flex: 1;
}

.chat-message-log {
    padding: 20px;
    margin: 0;

    /* flex-basis must be set for overflow to work */
    flex: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.chat-message-time {
    display: inline-block;
    font-size: small;
    font-style: italic;
    margin-bottom: 0px;
    margin-left: 10px;
    float: right;
}

.chat-message-from {
    display: inline-block;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    margin-bottom: 0px;
}

.chat-message-text {
    margin-top: 0px;
}

.connection-info-bar {
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.connection-info-node {
    padding: 10px 20px;
}

.connection-info-node li {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    margin-bottom: 0px;
}

.connection-info-node span {
    font-variant-caps: normal;
    font-weight: normal;
    font-size: small;
    font-style: italic;
}
