{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-md-5">
        <h3>Create a room</h3>
        {{ wtf.quick_form(form_create) }}
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <h3>Join a room</h3>
        <div class="list-group">
        {% if not public_rooms|length %}
            No rooms are available
        {% endif %}
        {% for room in public_rooms %}
            {% if room.password is none %}
                <a href={{ url_for('rtc') + '/' + room.id }} class="list-group-item">
                    <h4>{{ room.id }} (Participants: {{ room.clients|length }})</h4>
                </a>
            {% else %}
            <div class="list-group-item">
                <h4>{{ room.id }} (Participants: {{ room.clients|length }})</h4>
                <form class="form form-inline" method="post" role="form" action="{{ url_for('rtc') + '/' + room.id }}">
                    {{ form_join.csrf_token }}
                    <input id="room_id" name="room_id" type="hidden" value="{{ room.id }}">
                    {{ wtf.form_errors(form_join, hiddens="only") }}
                    {{ wtf.form_field(form_join.password) }}
                    {{ wtf.form_field(form_join.submit) }}
                </form>

            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
