{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-9" id="video-stage">
        <video id="video-local" width="100%" autoplay playsinline muted></video>
    </div>
    <div class="col-md-3" id="video-thumbs">
    </div>
</div>
<div class="row">
    <div class "col-md-12">
        <button class="btn" id="toggle-video" onclick="toggleVideo()">
            <i id="toggle-video-icon" class="material-icons">videocam</i></button>
        <button class="btn" id="toggle-audio" onclick="toggleAudio()">
            <i id="toggle-audio-icon" class="material-icons">mic</i></button>
    </div>
</div>
<div class="row">
    <div class "col-md-12">
        <hr>
        <p>Debug commands (hint: open the console for logging)</p>
        <button class="btn" id="ping" onclick="ping()">Ping</button>
        <button class="btn" id="get_room_info" onclick="get_room_info()">Room Info</button>
        <button class="btn" id="greeting" onclick="greeting()">Greeting</button>
        <button class="btn" id="shutdown" onclick="shutdown()">Shutdown</button>
    </div>
</div>


<script src="{{ url_for('static', filename='ui.js') }}"></script>
<script src="{{ url_for('static', filename='rtcclient.js') }}"></script>
{% endblock %}
