{% extends "base.html" %}

{% block app_content %}
<div>
    <video id="localVideo" autoplay playsinline controls="false"></video>
    <audio id="localAudio" autoplay="true"></audio>
    <video id="remoteVideo" autoplay playsinline controls="false"></video>
    <audio id="remoteAudio" autoplay="true"></audio>
</div>
<div>
    <button id="ping" onclick="ping()">Ping</button>
    <button id="get_room_info" onclick="get_room_info()">Room Info</button>
    <button id="greeting" onclick="greeting()">Greeting</button>
</div>


<script src="{{ url_for('static', filename='rtcclient.js') }}"></script>
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
